.main{
	min-height: 460px;
	background: #eee;
	border:solid 2px #999;
	padding:20px;
	overflow: hidden;
	min-width:800px;
}
img{

	width: 80px;
	height: 80px;

}
.sub1{
	background:#fff;
	border:solid 2px #999;
	padding:20px;
	width:180px;
	float:left;
}
.sub1 img{
	float:left;
}
.sub1 p{
	float:left;
	margin-left:20px;
}
.sub2{
	background: #fff;
	border:solid 2px #999;
	padding:20px;
	margin-left: 260px;
	margin-right: 180px;
	min-width: 30px;
	
}
.sub3{

	background:#fff;
	border:solid 2px #999;
	padding:20px;
	padding-bottom: 0px;
	width:80px;
	float:right;


}
.sub3 img{
	vertical-align:20px;
	
}

