.grey{
	height: 200px;
	width: 400px;
	background-color: #ccc;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.round{
	background-color: #fc0;
	border-radius: 50%;
	height:50px;
	width:50px;
	position:absolute;

}
.left{
  
}
.right{
	
}
