.icon{	
	width:20px;
	height: 20px;
}
header{
	overflow:hidden;
}
nav{
	float:right;

}
.mainContent{
	background-color: #ccc;
	

}
.content{
	margin:20px;
	padding:10px;
	background-color: #fff;
	border-width: 6px;
	overflow:hidden;
}
.content2list{
	list-style: none;
}
.image8{
	width:100px;
	height: 100px;
	float:left;
}
.imagefix{
	width:80px;
	height:80PX;

}
.subcontent{
	width:350px;
	float:right;
    background-color: #ccc;
    margin:20px;
    
}
