body{
    margin:0;
	padding:0;
	background: #56eff4;
}

.icon{	
	width:20px;
	height: 20px;
}
header{
	overflow:hidden;

}
nav{
	float:right;

}
.mainContent{
	background-color: #ccc;
	margin-bottom: 20px;
}

.rightcontent{
	width:350px;
	float:right;
    padding:20px;
    margin:20px;
    background-color: #fff;
    
}
.leftcontent{
	margin:20px;
	margin-right: 430px;
}
.content{
    margin-bottom:20px;
	padding:10px;
	background-color: #fff;
	border-width: 6px;
	overflow:hidden;
}
.content2list{
	list-style: none;
}
.image8{
	width:100px;
	height: 100px;
	float:left;
}
.imagefix{
	width:80px;
	height:80PX;

}
