.icon{	
	width:20px;
	height: 20px;
}
header{
	overflow:hidden;
}
nav{
	float:right;

}
.mainContent{
	background-color: #ccc;

}
.content{
	margin:20px;
	padding:10px;
	background-color: #fff;
	border-width: 6px;
}
